[submodule "pack/github/start/hlsl"]
	path = pack/github/start/hlsl
	url = https://github.com/beyondmarc/hlsl.vim.git
[submodule "pack/github/start/moonfly"]
	path = pack/github/start/moonfly
	url = https://github.com/bluz71/vim-moonfly-colors.git
[submodule "pack/github/start/shaderlab"]
	path = pack/github/start/shaderlab
	url = https://github.com/bub1ick/nvim-shaderlab.git
[submodule "pack/github/start/cg"]
	path = pack/github/start/cg
	url = https://github.com/vim-scripts/cg.vim.git
